* {
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
header {
	background: #77aaff;
	color: white;
}
h1, h2 {
	text-align: center;
}
h1 {
	margin: 7% 0 2% 0;
}
h2 {
	margin: 2% 0 7% 0;
}
main {
	flex: 1 1 auto;
	padding: 7%;
}
.note {
	border: 2px solid #77aaff;
	text-align: center;
	margin: 7% 0;
	padding: 2%;
	font-size: 20px;
	color: #303030;
}
i {
	text-decoration: underline;
}
footer {
	background: #202020;
	color: #ffffff;
	padding: 7%;
	font-size: 20px;
}